# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Compiled Java class files
*.class
*.properties
*.db

# Compiled Python bytecode
*.py[cod]

# Log files
*.log


# Unit test reports
TEST*.xml



# Applications
*.app
*.exe
*.war
*.sqlite3

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# VS Code ide
.vscode